<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
</head>
<body>
<table
  style="max-width: 500px; margin: 0 auto; padding: 0px; border-top: solid 2px #ececec;border: solid 2px #ececec;border-radius: 5px;">
  <tr>
    <td style="text-align: center;">
      <img
        src="https://mifielstoragnly.png%22%3B%20filename%2A%3DUTF-8%27%27logo-only.png&response-content-type=image%2Fpng&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=JRBHPAHVVK2LGDH3GQS7%2F20231105%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231105T001533Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Signature=6940478807917d9747470b9bc0690b5417a566713262a48e75a795a42a285478" alt="" width="100%" style="width: 40%;margin-top: 50px;margin-bottom: 50px;">
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">
      <p
        style="text-align: justify;color: #444444;font-family: Arial;font-weight: regular;font-size: 18px;margin: 0px 25px 25px 25px;">
        Hola {{name}}</p>
      <p
        style="text-align: justify;color: #444444;font-family: Arial;font-weight: regular;font-size: 18px;margin: 0px 25px 40px 25px;">
        Aqui puedes firmar tu contrato de compra venta: </p><a href="http://localhost:3000/sign/{{widgetId}}"> aqui</a>
    </td>
  </tr>
</table>
</body>
</html>
